@using Microsoft.AspNetCore.Mvc.ModelBinding

@if (!ViewData.ModelState.IsValid)
{
    <div class="validation-summary-errors">
        <ul>
            @foreach (var key in ViewData.ModelState.Keys)
            {
                var entry = ViewData.ModelState[key];
                if (entry.Errors.Count > 0)
                {
                    <li>@entry.Errors[0].ErrorMessage</li>
                }
            }
        </ul>
    </div>
}



