@page
@model IndexModel
@{
    ViewData["Title"] = "Winkelvoorraadbeheer";
}

<div class="text-center">
    <h1 class="display-4">Area 42</h1>
</div>

<div class="container">
  <p>Winkelvoorraad</p>
</div>
