@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<section class="banner">
    <p class="text-light fw-bold">Reserveer nu een vakantiewoning</p>
    <a class="reservation-button" href="/Reservations/CreateReservation">Reserveren</a>
</section>


<div class="container">
    <p>Knoppen die nog over de website verplaatst moeten worden</p>
    <a class="button" href="/Store/Reservations">Winkelvoorraad</a>
    <a class="button" href="#">TBA</a>
    <a class="button" href="#">TBA</a>
</div>
