@page
@model ArticlesModel
@{
    ViewData["Title"] = "Artikelen";
}

<div class="text-center">
    <h1 class="display-4">Artikelen</h1>
    <button class="btn btn-success my-3" onclick="@Model.CreateAsync()">Nieuw artikel toevoegen</button>
</div>

@if (Model.Articles != null && Model.Articles.Count > 0)
{
    <ul class="list-group">
        @foreach (var article in Model.Articles)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>@article.Name</span>
                <span class="badge bg-primary rounded-pill">€ @article.Price.ToString("0.00")</span>
            </li>
        }
    </ul>
}
else
{
    <p>No articles found.</p>
}
