@page
@model ReservationsModel
@{
    ViewData["Title"] = "Artikelen";
}

<div class="text-center">
    <h1 class="display-4">Artikelen</h1>
    <button class="btn btn-success my-3" onclick="@Model.CreateAsync()">Nieuw artikel toevoegen</button>
</div>

@if (Model.Reservations != null && Model.Reservations.Count > 0)
{
    <ul class="list-group">
        @foreach (var Reservation in Model.Reservations)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>@Reservation.Name</span>
                <span class="badge bg-primary rounded-pill">€ @Reservation.Price.ToString("0.00")</span>
            </li>
        }
    </ul>
}
else
{
    <p>No Reservations found.</p>
}
