@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <p>Knoppen die nog over de website verplaatst moeten worden</p>
    <a class="button" href="/Store/Articles">Artikelen</a>
    <a class="button" href="/Store/Locations">Locaties</a>
</div>
