@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Area 42</h1>

</div>
<div>
    <a class="button" href="/Reservations/Create">Reserveren</a>
</div>
